body {
background-color: black; 
background-image: url(/public/Beige\ minimalist\ photo\ collage.png);
background-size: cover; /* Resize the background image to cover the entire container */
background-position: center; /* Center the image */
}
